<body>
<header>
  <div class="navbar-header">
    <a class="navbar-brand" href="">PERSONAL PORTFOLIO</a>
    <div class="navbar-social">
      <div class="social-part">
        <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="https://github.com/officiallx" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://instagram.com/ob_nox_ious" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</header>
    <div class="mainImg">
      <img src="../../assets/img/logo-black.png"/>
    </div>
  <div class="col-md-12">
  <div class="navbar justify-content-center">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/about">.About_Me( )</a>
      </li>
      <span class="nav-link">/</span>
      <li class="nav-item active">
        <a class="nav-link" href="#">.Portfolio( )</a>
      </li>
      <span class="nav-link">/</span>
      <li class="nav-item">
        <a class="nav-link" href="#">.Experience( )</a>
      </li>
      <span class="nav-link">/</span>
      <li class="nav-item">
        <a class="nav-link" href="#">.Resume( )</a>
      </li>
      <span class="nav-link">/</span>
      <li class="nav-item">
        <a class="nav-link" href="#">.Contact( )</a>
      </li>
    </ul>
    <!--<footer>&#169; Obnoxious Co.</footer>-->
  </div>
  </div>
</body>
