body {
  background: whitesmoke;
  height: 100vh;
  object-fit: contain;
}

.navbar{
  width: 100%;
}

.nav{
  padding-top: 50px;
}

.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}
.navbar-header a:hover{
  text-decoration-line: none;
  color: #0d1321;
}

.nav-item a {
  color: whitesmoke;
}

.nav-link {
  font-size: 14px;
  font-family: Monaco, "Lucida Console", monospace;
  padding-bottom: 25px;
  font-weight: bold;
  transition:  all 0.3s ease-in-out 0s;
}

span{
  color: whitesmoke;
}

.nav-item a:hover {
  color: #ef8354;
  text-decoration-line: line-through;
  /*font-size: 16px;*/
}

.active a {
  color: #ef8354 !important;
}

.aboutMenu{
  background: #393e46;
  height: 100%;
  width: 50%;
  float: left;
}

.col-md-12{
  height: 100%;
  width: 100%;
  margin: auto;
}

.col-md-12 img{
  width: 100%;
  align-content: center;
  height: 80%;
  object-fit: contain;
}

.rightAboutPage{
  margin: auto;
  padding: 80px;
  float: right;
  justify-content: left;
  width: 50%;
  height: 100%;
  overflow: scroll;
}
.col-md-12{
  padding: 20px;
}

.col-12{
  padding: 24px;
}

p{
  font-family: "Varela Round"
}

.float-none{
  position: absolute;
  width: 100%;
  text-align: center;
}

.float-none img{
  object-fit: contain;
  margin-top: 50px;
  border: 3px solid indianred;
  border-radius: 50%;
}

.float-none img:hover{
  border: 3px dotted indianred;
  transition: 0.5ms ease-in-out 0.3ms;
}





