<body>
<div class="aboutMenu">
  <div class="col-md-12 row align-items-center">
    <img src="../../assets/img/logo-black.png">
    <div class="navbar justify-content-center">
      <ul class="nav">
        <li class="nav-item active">
          <a class="nav-link" href="/about">.About_Me( )</a>
        </li>
        <span class="nav-link">/</span>
        <li class="nav-item">
          <a class="nav-link" href="#">.Portfolio( )</a>
        </li>
        <span class="nav-link">/</span>
        <li class="nav-item">
          <a class="nav-link" href="#">.Experience( )</a>
        </li>
        <span class="nav-link">/</span>
        <li class="nav-item">
          <a class="nav-link" href="#">.Resume( )</a>
        </li>
        <span class="nav-link">/</span>
        <li class="nav-item">
          <a class="nav-link" href="#">.Contact( )</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="rightAboutPage">
  <div class="col-12">
      <p><b>I am a Jr. Software Developer and Concept Artist living in Kathmandu, Nepal.</b> </p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
  </div>
  <div class="col-12">
    <p><b>I am a Jr. Software Developer and Concept Artist living in Kathmandu, Nepal.</b> </p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
  </div>
  <div class="col-12">
    <p><b>I am a Jr. Software Developer and Concept Artist living in Kathmandu, Nepal.</b> </p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
  </div>
</div>
</body>
