<body>
  <div id="circularcursor"></div>
<div class="aboutMenu">
  <div class="col-md-12 row align-items-center">
    <img src="../../assets/img/experience.png">

    <!--<div class="container">
      <div class="objects">
        <div class="objects_computer"></div>
        <div class="objects_table"></div>
        <div class="objects_cup"></div>
        <div class="smoke"></div>
        <div class="objects_chair"></div>
      </div>
      <div class="box">
        <div class="box_1">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="box_2">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="box_3"></div>
      </div>
    </div>-->


    <div class="navbar justify-content-center">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="about">.About_Me( )</a>
        </li>
        <span class="nav-link">/</span>
        <li class="nav-item">
          <a class="nav-link" href="portfolio">.Portfolio( )</a>
        </li>
        <span class="nav-link">/</span>
        <li class="nav-item active">
          <a class="nav-link" href="experience">.Experience( )</a>
        </li>
        <span class="nav-link">/</span>
        <li class="nav-item">
          <a class="nav-link" href="resume">.Resume( )</a>
        </li>
        <span class="nav-link">/</span>
        <li class="nav-item">
          <a class="nav-link" href="contact">.Contact( )</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="rightAboutPage">
    <div class="row example-centered">
      <!--<div class="col-md-12 example-title">
        <h2>Timeline</h2>
      </div>-->
      <div class="col-12">
        <ul class="timeline timeline-centered">
          <li class="timeline-item">
            <div class="timeline-info">
              <div class="timeline-marker"></div>
              <span>Sept - Nov / 2018</span>
            </div>
            <div class="timeline-marker"></div>
            <div class="timeline-content">
              <h3 class="timeline-title">Sumsher Pvt. Ltd.</h3>
              <ul>
                <li>Designed and developed websites using wordpress CMS.</li>
                <li>Digital Marketing and SEO of websites</li>
              </ul>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-info">
              <span>Jan - Apr / 2019</span>
            </div>
            <div class="timeline-marker"></div>
            <div class="timeline-content">
              <h3 class="timeline-title">SB Solutions Nepal Ltd.</h3>
                <ul>
                  <li>Analyzed requirements and designed, developed and implemented software applications.</li>
                  <li>Worked closely with software development and testing team members to design and develop the robust solutions to meet client requirements functionally, scalability and performance.</li>
                  <li>Collaborated with cross-functional development team members to analyze potential system solutions based on evolving client requirements.</li>
                  <li>Consulted regularly with internal customers on application development project status, new project proposals and software related technical issues.</li>
                </ul>
            </div>
          </li>
          <!--<li class="timeline-item period">
            <div class="timeline-info"></div>
            <div class="timeline-marker"></div>
            <div class="timeline-content">
              <h2 class="timeline-title">April 2016</h2>
            </div>
          </li>-->
          <li class="timeline-item">
            <div class="timeline-info">
              <span>Apr - Apr / 2020</span>
            </div>
            <div class="timeline-marker"></div>
            <div class="timeline-content">
              <h3 class="timeline-title">Cloudfactory</h3>
              <ul>
                <li>Compiled and distributed weekly feedbacks to team members to improve service time and quality while increasing productivity</li>
                <li>Checked the quality of the work and making sure there is no error or mistakes.</li>
              </ul>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-info">
              <span>April - Present</span>
            </div>
            <div class="timeline-marker"></div>
            <div class="timeline-content">
              <h3 class="timeline-title">Uranus Tech Nepal</h3>
              <ul>
                <li>Designed and developed hybrid apps in xamarin forms using c#</li>
                <li>Consulted regularly with internal customers on application development project status</li>
                <li>Collaborated with cross-functional development team members to analyze potential system solutions based on evolving client requirements</li>
                <li>Worked closely with software development and testing team members to design and develop the robust solutions to meet client requirements functionally, scalability and performance</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>

</body>
