@import "~bootstrap/dist/css/bootstrap.css";

html {
    cursor: none;
    overflow: hidden;
  }

#circularcursor {
    background-color: transparent;
    border:2px solid indianred;    
    height:20px;
    width:20px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    position: absolute;
    z-index: 1;
  }

  li a:hover{
    cursor: none;
  }
