<body>
    <div id="circularcursor"></div>
    <div class="aboutMenu">
      <div class="col-md-12 row align-items-center">
        <img src="../../assets/img/work.png">
        <div class="navbar justify-content-center">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" href="about">.About_Me( )</a>
            </li>
            <span class="nav-link">/</span>
            <li class="nav-item active">
              <a class="nav-link" href="portfolio">.Portfolio( )</a>
            </li>
            <span class="nav-link">/</span>
            <li class="nav-item">
              <a class="nav-link" href="experience">.Experience( )</a>
            </li>
            <span class="nav-link">/</span>
            <li class="nav-item">
              <a class="nav-link" href="#">.Resume( )</a>
            </li>
            <span class="nav-link">/</span>
            <li class="nav-item">
              <a class="nav-link" href="#">.Contact( )</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="rightAboutPage">
        <div class='container'>
            <main>
              <div class='items'>
                <div class='item'>
                  <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                    <defs>
                      <clipPath id='clip-0'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                      </clipPath>
                    </defs>
                    <text class='svg-text' dy='.3em' x='50%' y='50%'>
                      Abduction
                    </text>
                    <g clip-path='url(#clip-0)'>
                      <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='../../assets/img/mywork/abduction1A.jpg'></image>
                      <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Blender3D Art
                      </text>
                    </g>
                  </svg>
                </div>
                <div class='item'>
                  <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                    <defs>
                      <clipPath id='clip-1'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                      </clipPath>
                    </defs>
                    <text class='svg-text' dy='.3em' x='50%' y='50%'>
                      Deforestation
                    </text>
                    <g clip-path='url(#clip-1)'>
                      <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='../../assets/img/mywork/scene1a.jpg'></image>
                      <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Blender3D Art
                      </text>
                    </g>
                  </svg>
                </div>
                <div class='item'>
                  <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                    <defs>
                      <clipPath id='clip-2'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                      </clipPath>
                    </defs>
                    <text class='svg-text' dy='.3em' x='50%' y='50%'>
                       Serenity
                    </text>
                    <g clip-path='url(#clip-2)'>
                      <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='../../assets/img/mywork/CITYBOY1Aa.jpg'></image>
                      <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Blender3D Art
                      </text>
                    </g>
                  </svg>
                </div>
                <div class='item'>
                  <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                    <defs>
                      <clipPath id='clip-3'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                      </clipPath>
                    </defs>
                    <text class='svg-text' dy='.3em' x='50%' y='50%'>
                      Brainwashed
                    </text>
                    <g clip-path='url(#clip-3)'>
                      <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' width='100%' xlink:href='../../assets/img/mywork/brainwashed1a.jpg'></image>
                      <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Blender3D Art
                      </text>
                    </g>
                  </svg>
                </div>
                <div class='item'>
                  <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                    <defs>
                      <clipPath id='clip-4'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                      </clipPath>
                    </defs>
                    <text class='svg-text' dy='.3em' x='50%' y='50%'>
                      Rusty
                    </text>
                    <g clip-path='url(#clip-4)'>
                      <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='../../assets/img/mywork/bike1a.jpg'></image>
                      <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Blender3D Art
                      </text>
                    </g>
                  </svg>
                </div>
                <div class='item'>
                  <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                    <defs>
                      <clipPath id='clip-5'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                      </clipPath>
                    </defs>
                    <text class='svg-text' dy='.3em' x='50%' y='50%'>
                      Dalí
                    </text>
                    <g clip-path='url(#clip-5)'>
                      <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='../../assets/img/mywork/brainwashed1a.jpg'></image>
                      <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Blender3D Art
                      </text>
                    </g>
                  </svg>
                </div>
              </div>
            </main>
          </div>
    </div>
    </body>
    