<body>
    <div id="circularcursor"></div>
    <div class="aboutMenu">
      <div class="col-md-12 row align-items-center">
        <img src="../../assets/img/work.png">
        <!-- <div>
          <input type="radio" name="filter" id="all" checked><label for="all">getAll( )</label>
          <input type="radio" name="filter" id="Java"><label for="Java">.Java([ ]main)</label>
          <input type="radio" name="filter" id="Web"><label for="Web">&lt;Web/&gt;</label>
          <input type="radio" name="filter" id="Android"><label for="Android">Android v.11</label>
          <input type="radio" name="filter" id="Python"><label for="Python">defPython( ):</label>
        </div> -->
        <div class="navbar justify-content-center">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" href="about">.About_Me( )</a>
            </li>
            <span class="nav-link">/</span>
            <li class="nav-item active">
              <a class="nav-link" href="portfolio">.Portfolio( )</a>
            </li>
            <span class="nav-link">/</span>
            <li class="nav-item">
              <a class="nav-link" href="experience">.Experience( )</a>
            </li>
            <span class="nav-link">/</span>
            <li class="nav-item">
              <a class="nav-link" href="resume">.Resume( )</a>
            </li>
            <span class="nav-link">/</span>
            <li class="nav-item">
              <a class="nav-link" href="contact">.Contact( )</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="rightAboutPage">
        <div class='container'>
          <div class="col-12">
            <h3>Projects</h3>
            <input type="radio" name="filter" id="all" checked><label for="all">getAll( )</label>
            <input type="radio" name="filter" id="Java"><label for="Java">.Java([ ]main)</label>
            <input type="radio" name="filter" id="Web"><label for="Web">&lt;Web/&gt;</label>
            <input type="radio" name="filter" id="Android"><label for="Android">Android v.11</label>
            <input type="radio" name="filter" id="Python"><label for="Python">defPython( ):</label>
            <div class="gallery">
            <figure class="card Java">
              <img class="card__image" loading="lazy" src="../../assets/img/alien.png" alt="">
              <figcaption class="card__caption">Airline Booking</figcaption>
              <p>I am a caption for this image</p>
            </figure>
            <figure class="card Java">
              <img class="card__image" loading="lazy" src="../../assets/img/alien.png" alt="">
              <figcaption class="card__caption">Bike Rental</figcaption>
              <p>I am a caption for this image</p>
            </figure>
            <figure class="card Java">
              <img class="card__image" loading="lazy" src="../../assets/img/alien.png" alt="">
              <figcaption class="card__caption">Spring Boot</figcaption>
              <p>I am a caption for this image</p>
            </figure>
            <figure class="card Web">
              <img class="card__image" loading="lazy" src="../../assets/img/alien.png" alt="">
              <figcaption class="card__caption">Catering Website</figcaption>
              <p>I am a caption for this image</p>
            </figure>
            <figure class="card Web">
              <img class="card__image" loading="lazy" src="../../assets/img/alien.png" alt="">
              <figcaption class="card__caption">E-Catering MS</figcaption>
              <p>I am a caption for this image</p>
            </figure>
            <figure class="card Web">
              <img class="card__image" loading="lazy" src="../../assets/img/alien.png" alt="">
              <figcaption class="card__caption">Web Api</figcaption>
              <p>I am a caption for this image</p>
            </figure>
            <figure class="card Android">
              <img class="card__image" loading="lazy" src="../../assets/img/alien.png" alt="">
              <figcaption class="card__caption">E-Caters</figcaption>
              <p>I am a caption for this image</p>
            </figure>
            <figure class="card Android">
              <img class="card__image" loading="lazy" src="../../assets/img/alien.png" alt="">
              <figcaption class="card__caption">Chatbot</figcaption>
              <p>I am a caption for this image</p>
            </figure>
            <figure class="card Python">
              <img class="card__image" loading="lazy" src="../../assets/img/alien.png" alt="">
              <figcaption class="card__caption">Tic-Tac-Toe</figcaption>
              <p>I am a caption for this image</p>
            </figure>
            <figure class="card Python">
              <img class="card__image" loading="lazy" src="../../assets/img/alien.png" alt="">
              <figcaption class="card__caption">Stock Prediction</figcaption>
              <p>I am a caption for this image</p>
            </figure>
            </div>
          </div>
          <div class="col-12">
            <h3>Artworks</h3>
          </div>
            <main>
              <div class='items'>
                <a href="" target="_self">
                  <div class='item'>
                    <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                      <defs>
                        <clipPath id='clip-0'>
                          <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                        </clipPath>
                      </defs>
                      <text class='svg-text' dy='.3em' x='50%' y='50%'>
                        Dalí
                      </text>
                      <g clip-path='url(#clip-0)'>
                        <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='../../assets/img/mywork/ela.png'></image>
                        <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                          Illustration
                        </text>
                      </g>
                    </svg>
                  </div>
                </a>
                <a href="" target="_self">
                <div class='item'>
                  <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                    <defs>
                      <clipPath id='clip-1'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                      </clipPath>
                    </defs>
                    <text class='svg-text' dy='.3em' x='50%' y='50%'>
                      Deforestation
                    </text>
                    <g clip-path='url(#clip-1)'>
                      <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='../../assets/img/mywork/scene1a.jpg'></image>
                      <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Blender3D Art
                      </text>
                    </g>
                  </svg>
                </div>
                </a>
                <div class='item'>
                  <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                    <defs>
                      <clipPath id='clip-2'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                      </clipPath>
                    </defs>
                    <text class='svg-text' dy='.3em' x='50%' y='50%'>
                       Serenity
                    </text>
                    <g clip-path='url(#clip-2)'>
                      <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='../../assets/img/mywork/CITYBOY1Aa.jpg'></image>
                      <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Blender3D Art
                      </text>
                    </g>
                  </svg>
                </div>
                <div class='item'>
                  <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                    <defs>
                      <clipPath id='clip-3'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                      </clipPath>
                    </defs>
                    <text class='svg-text' dy='.3em' x='50%' y='50%'>
                      Brainwashed
                    </text>
                    <g clip-path='url(#clip-3)'>
                      <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' width='100%' xlink:href='../../assets/img/mywork/brainwashed1a.jpg'></image>
                      <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Blender3D Art
                      </text>
                    </g>
                  </svg>
                </div>
                <div class='item'>
                  <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                    <defs>
                      <clipPath id='clip-4'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                      </clipPath>
                    </defs>
                    <text class='svg-text' dy='.3em' x='50%' y='50%'>
                      Rusty
                    </text>
                    <g clip-path='url(#clip-4)'>
                      <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='../../assets/img/mywork/bike1a.jpg'></image>
                      <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Blender3D Art
                      </text>
                    </g>
                  </svg>
                </div>
                <div class='item'>
                  <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                    <defs>
                      <clipPath id='clip-5'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                      </clipPath>
                    </defs>
                    <text class='svg-text' dy='.3em' x='50%' y='50%'>
                      Abduction
                    </text>
                    <g clip-path='url(#clip-5)'>
                      <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='../../assets/img/mywork/abduction1A.jpg'></image>
                      <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Blender 3D art
                      </text>
                    </g>
                  </svg>
                </div>
              </div>
            </main>
          </div>
    </div>
    </body>
    